body{
	font-family: Arial, Sans-serif;
	margin:0px;
}
* {
	transition-duration: 0.4s;
	transition-property: width,height,max-height,box-shadow,text-shadow,border,background,top,left,right,bottom,opacity,transform,zoom;
	outline: none;
	box-sizing: border-box;
}

.spoiler{
	max-height:0px;
	margin: 0px auto;
	padding: 0px;
	overflow: hidden;
	text-align:center;
}
.spoiler.active{
	max-height: 350px;
	padding: 4px 0;
}


button, a.btn{
	display:inline-block;
	min-width: 180px;
	margin: 4px 8px;
	padding: 8px;
	background:#8888ff;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	border: none;
	cursor: pointer;
}
button.w100, a.btn.w100{
	min-width:0px;
	width:calc(100% - 16px);
}
button.active, a.btn.active{
	background: #4444ff;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
}
button.hidden, a.btn.hidden{
	max-height:0px;
	padding:0px;
	margin:0px;
}
button.select, a.btn.select{
	min-width: 50px;
	margin: 4px 2px;
}
button.w, a.btn.w{background: #ffffff;color:#000000;} button.w.active, a.btn.w.active{background: #dfdfdf;}
button.d, a.btn.d{background: #eeeeee;color:#000000;} button.d.active, a.btn.d.active{background: #d8d8d8;}

button.r, a.btn.r{background: #ff8888;} button.r.active, a.btn.r.active{background: #ff4444;}
button.g, a.btn.g{background: #aed581;} button.g.active, a.btn.g.active{background: #4caf50;}

select{
	display:inline-block;
	min-width: 180px;
	margin: 4px 8px;
	padding: 8px;
	background:#8888ff;
	color: #ffffff;
	text-decoration: none;
	text-align: center;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	border: none;
	cursor: pointer;
	font-size:16px;
}
select.active{
	background: #4444ff;
	box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
}
option{
	background:#ddddff;
	color:#000000;
	padding:4px;
	font-size:14px;
}
#num button:nth-child(5n), #sbj button:nth-child(5n), #N button:nth-child(5n){
	margin-right:16px;
}

#separator{
	display:inline-block;
	height:1em;
	width:16px;
}

#testnav{
	margin: 16px auto;
	text-align:center;
}
#testnav #testnavblock{
	display:inline-block;
	margin-right:16px;
}
#h1{
	text-align:center;
}
#test{
	position:relative;
	display:block;
	width:750px;
	max-width:100%;
	margin: 16px auto;
}
#question{
	position: relative;
	margin: 0 16px;
	padding: 16px;
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
	overflow:hidden;
	max-height:1000px;
	opacity: 1;
	max-height: 200vh;
}
#question.hidden{
	max-height: 0vh;
	opacity: 0;
	pointer-events: none;
	margin: 0px 16px;
	padding: 0px 16px;
}
#question.answered.true{
	background: #eeffee;
}
#question.answered.false{
	background: #ffeeee;
}

#question #num{
	position:absolute;
	top:0px;
	right:16px;
	padding:8px;
	border-radius: 0 0 2px 2px;
	background: #ffc000;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
}

#question #question_image{
	display:block;
	max-width: calc(100% + 32px);
	margin: -16px 0 16px -16px;
}
#question #question_text{
	display:block;
	font-size: 120%;
	font-weight: bold;
}


#question #question_answers{
	list-style: none;
	padding: 0px;
}
#question #question_answers #question_answer{
	display:block;
	margin: 8px 0;
	padding:8px;
	background: #fafafa;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	cursor: pointer;
}
#question.answered #question_answers #question_answer[data-true=true],
#question.answered #question_answers #question_answer.true{
	background: #aaffaa;
}
#question #question_answers #question_answer.false{
	background: #ffaaaa;
}

#question #question_tip{
	display:block;
	font-style: italic;
	overflow:hidden;
	max-height:400px;
}
#question:not(.answered) #question_tip.hidden{
	max-height:0px;
}


#sidebar{
	width: calc(100% - 32px);
	margin:16px;
	padding:8px;
	background: #ffffff;
	box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
	z-index:1000;
	text-align: right;
}
#sidebar > div{
	display:inline-block;
	width: calc(25% - 16px);
	text-align: center;
}